In [1]:
import pandas as pd
import seaborn as sns
import os, glob
import matplotlib.pyplot as plt

root_data = '../data'

In [2]:
# Load weather data
df_w = pd.read_csv(os.path.join(root_data, 'weather/open_meteo_com_interpolated.csv'))
df_w

,date_index,time,temperature_2m (°C),relativehumidity_2m (%),dewpoint_2m (°C),apparent_temperature (°C),pressure_msl (hPa),surface_pressure (hPa),precipitation (mm),rain (mm),...,vapor_pressure_deficit (kPa),soil_temperature_0_to_7cm (°C),soil_temperature_7_to_28cm (°C),soil_temperature_28_to_100cm (°C),soil_temperature_100_to_255cm (°C),soil_moisture_0_to_7cm (m³/m³),soil_moisture_7_to_28cm (m³/m³),soil_moisture_28_to_100cm (m³/m³),soil_moisture_100_to_255cm (m³/m³),dtm
0,2018-01-01 00:00:00,2018-01-01T00:00,4.5,86,2.3,-0.1,987.3,973.4,0.0,0.0,...,0.12,4.1,4.3,4.4,7.0,0.375,0.376,0.388,0.386,2018-01-01 00:00:00
1,2018-01-01 00:30:00,2018-01-01T00:00,4.5,86,2.3,-0.1,987.3,973.4,0.0,0.0,...,0.12,4.1,4.3,4.4,7.0,0.375,0.376,0.388,0.386,2018-01-01 00:30:00
2,2018-01-01 01:00:00,2018-01-01T01:00,4.4,87,2.4,0.0,987.2,973.3,0.0,0.0,...,0.11,4.1,4.2,4.4,7.0,0.375,0.376,0.388,0.386,2018-01-01 01:00:00
3,2018-01-01 01:30:00,2018-01-01T01:00,4.4,87,2.4,0.0,987.2,973.3,0.0,0.0,...,0.11,4.1,4.2,4.4,7.0,0.375,0.376,0.388,0.386,2018-01-01 01:30:00
4,2018-01-01 02:00:00,2018-01-01T02:00,4.6,87,2.5,0.0,987.3,973.5,0.0,0.0,...,0.11,4.2,4.1,4.4,7.0,0.374,0.376,0.388,0.386,2018-01-01 02:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85628,2022-11-19 22:00:00,2022-11-19T22:00,7.6,85,5.3,4.3,1007.4,993.4,0.1,0.1,...,0.16,7.2,7.6,9.8,11.8,0.374,0.384,0.391,0.349,2022-11-19 22:00:00
85629,2022-11-19 22:30:00,2022-11-19T22:00,7.6,85,5.3,4.3,1007.4,993.4,0.1,0.1,...,0.16,7.2,7.6,9.8,11.8,0.374,0.384,0.391,0.349,2022-11-19 22:30:00
85630,2022-11-19 23:00:00,2022-11-19T23:00,7.5,83,4.8,4.1,1006.7,992.7,0.4,0.4,...,0.18,7.2,7.6,9.7,11.8,0.376,0.383,0.391,0.349,2022-11-19 23:00:00
85631,2022-11-19 23:30:00,2022-11-19T23:00,7.5,83,4.8,4.1,1006.7,992.7,0.4,0.4,...,0.18,7.2,7.6,9.7,11.8,0.376,0.383,0.391,0.349,2022-11-19 23:30:00
85632,2022-11-20 00:00:00,2022-11-20T00:00,7.1,84,4.6,3.5,1006.2,992.2,0.6,0.6,...,0.16,7.0,7.6,9.7,11.8,0.382,0.383,0.391,0.349,2022-11-20 00:00:00

In [3]:
# Load df_all
wildcard = 'df_all.csv'

files = glob.glob(os.path.join(root_data, wildcard), recursive=True)
files.sort()
[os.path.basename(f) for f in files]
files

['../data\\df_all.csv']

In [4]:
df_all = pd.read_csv(files[0])
df_all.head()

,Unnamed: 0,IFA_FLOW,TSD,IFA2_FLOW,EMBEDDED_WIND_GENERATION,ND,MOYLE_FLOW,NEMO_FLOW,ELECLINK_FLOW,PUMP_STORAGE_PUMPING,...,COAL,FOSSIL,GENERATION,DATETIME,OTHER,ZERO_CARBON,BIOMASS,WIND,SOLAR,RENEWABLE
0,0,1997,29071,0,952,28308,-119,1000,0,45,...,680.0,12420.0,29884.0,2019-12-01 00:00:00,156.0,10848.0,2436.0,3058.0,0.0,3378.0
1,1,1998,29019,0,954,28283,-101,1000,0,36,...,680.0,12550.0,29806.0,2019-12-01 00:30:00,152.0,10671.0,2435.0,2890.0,0.0,3208.0
2,2,1998,28667,0,950,27962,-94,1000,0,12,...,679.0,12347.0,29510.0,2019-12-01 01:00:00,145.0,10633.0,2387.0,2854.0,0.0,3171.0
3,3,1997,27878,0,947,27160,-107,1000,0,12,...,680.0,11513.0,28696.0,2019-12-01 01:30:00,145.0,10661.0,2379.0,2872.0,0.0,3189.0
4,4,1951,27800,0,951,26617,-239,976,0,345,...,680.0,11509.0,28609.0,2019-12-01 02:00:00,145.0,10675.0,2378.0,2901.0,0.0,3208.0

In [5]:
df_all.dtm, df_w.dtm

(0       2019-12-01 00:00:00
 1       2019-12-01 00:30:00
 2       2019-12-01 01:00:00
 3       2019-12-01 01:30:00
 4       2019-12-01 02:00:00
                ...
 1483    2019-12-31 21:30:00
 1484    2019-12-31 22:00:00
 1485    2019-12-31 22:30:00
 1486    2019-12-31 23:00:00
 1487    2019-12-31 23:30:00
 Name: dtm, Length: 1488, dtype: object,
 0        2018-01-01 00:00:00
 1        2018-01-01 00:30:00
 2        2018-01-01 01:00:00
 3        2018-01-01 01:30:00
 4        2018-01-01 02:00:00
                 ...
 85628    2022-11-19 22:00:00
 85629    2022-11-19 22:30:00
 85630    2022-11-19 23:00:00
 85631    2022-11-19 23:30:00
 85632    2022-11-20 00:00:00
 Name: dtm, Length: 85633, dtype: object)

In [6]:
df = pd.concat([df_all, df_w])
df.head()

,Unnamed: 0,IFA_FLOW,TSD,IFA2_FLOW,EMBEDDED_WIND_GENERATION,ND,MOYLE_FLOW,NEMO_FLOW,ELECLINK_FLOW,PUMP_STORAGE_PUMPING,...,et0_fao_evapotranspiration (mm),vapor_pressure_deficit (kPa),soil_temperature_0_to_7cm (°C),soil_temperature_7_to_28cm (°C),soil_temperature_28_to_100cm (°C),soil_temperature_100_to_255cm (°C),soil_moisture_0_to_7cm (m³/m³),soil_moisture_7_to_28cm (m³/m³),soil_moisture_28_to_100cm (m³/m³),soil_moisture_100_to_255cm (m³/m³)
0,0.0,1997.0,29071.0,0.0,952.0,28308.0,-119.0,1000.0,0.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,1998.0,29019.0,0.0,954.0,28283.0,-101.0,1000.0,0.0,36.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,1998.0,28667.0,0.0,950.0,27962.0,-94.0,1000.0,0.0,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,1997.0,27878.0,0.0,947.0,27160.0,-107.0,1000.0,0.0,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,1951.0,27800.0,0.0,951.0,26617.0,-239.0,976.0,0.0,345.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df[['windgusts_10m (km/h)', 'dtm']]

       windgusts_10m (km/h)                  dtm
0                       NaN  2019-12-01 00:00:00
1                       NaN  2019-12-01 00:30:00
2                       NaN  2019-12-01 01:00:00
3                       NaN  2019-12-01 01:30:00
4                       NaN  2019-12-01 02:00:00
...                     ...                  ...
85628                  29.9  2022-11-19 22:00:00
85629                  29.9  2022-11-19 22:30:00
85630                  32.4  2022-11-19 23:00:00
85631                  32.4  2022-11-19 23:30:00
85632                  33.1  2022-11-20 00:00:00

[87121 rows x 2 columns]

In [ ]:
# Save df_all